# Modify .gitattributes

Artificial-Vision/p6/*.ipynb linguist-vendored
Artificial-Vision/proyecto/*.ipynb linguist-vendored
Big-Data/p1/*.ipynb linguist-vendored
Big-Data/p2/*.ipynb linguist-vendored
Natural-Language-Technologies/*.ipynb linguist-vendored
Neural-Networks-and-Deep-Learning/p4/*.ipynb linguist-vendored
Neural-Networks-and-Deep-Learning/*.ipynb linguist-vendored
Voice-Recognition/p1/*.ipynb linguist-vendored