# Modify .gitignore

desktop.ini
.tareas
.vscode
Big-Data/proyect/icons/
Big-Data/proyect/processed/
Big-Data/proyect/sections_B&W/
Big-Data/proyect/augmented_images_color/
Big-Data/proyect/augmented_images_B&W/
Big-Data/proyect/FeatureVectors.csv